section.articles--right
  +article(articles[4], null, lead, false, 'right')
  +article(articles[5], null, lead, false, 'right')
  +article(articles[6], null, lead, false, 'right')
  .fragment
    +sectionTitle('·Fragmento·', null, false)
    p.fragment__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus recusandae quaerat sapiente repudiandae perspiciatis! Tempore molestiae dicta est sapiente porro explicabo, incidunt amet. Provident magnam atque impedit eligendi, consectetur accusamus.