section.articles--right
  +article(articles[4], null, leadShort, false, 'right')
  +article(articles[5], contentShort, leadShort, false, 'right')
  +article(articles[6], null, leadShort, false, 'right')
  .fragment
    +sectionTitle('·Fragmento·', null, false)
    p.fragment__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus recusandae quaerat sapiente repudiandae perspiciatis!