header.header
  .header__intro
    +introArticle('Cultura', 'Festival de Cannes 2015', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, fugiat porro ratione nulla repellendus dolorum necessitatibus tempore. Sit dignissimos debitis maxime nemo perferendis odio maiores, molestias quos. Sapiente, delectus eius.', 'Pag. 4')
    +introArticle('Biografias', 'Gabriel Garcia Marquez', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, fugiat porro ratione nulla repellendus dolorum necessitatibus tempore. Sit dignissimos debitis maxime nemo perferendis odio maiores, molestias quos. Sapiente, delectus eius.', 'Pag. 20')
    +introArticle('Actualidad', 'Festival de Cannes 2015', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, fugiat porro ratione nulla repellendus dolorum necessitatibus tempore. Sit dignissimos debitis maxime nemo perferendis odio maiores, molestias quos. Sapiente, delectus eius.', 'Pag. 41')
  .header__title
    .container--price
      .price__main $14
      .price__others
        | Recargo envio al interior:<br>
        | Cordoba, Entre Ríos y La Papapa <strong>$3</strong><br>
        | Resto del país <strong>$5</strong>
    .container--name
      h1.name__title
        | Quimera
        span.name__subtitle El arte es el espirítu de la expresión
    .container--edition
      .edition__date Viernes 12 <br>de Septiembre de 2015
      .edition__legal Año 3 - Edición N° 567