include components/_articles
include components/_mixins

html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Newspaper Challenge
    link(rel="stylesheet" href="index.scss")
  body
    main.layout
      include components/header
      include components/main-section
