.intro-article {
  text-align: center;
  padding: .2rem 1rem;
  &__section, &__title {
    font-family: $font-titles;
    text-transform: uppercase;
    margin: 0;
  }
  &__section {
    font-size: .8rem;
  }
  &__title {
    margin-bottom: 1rem;
    &::before, &::after {
      content: '·';
    }
  }
  &__lead {
    font-size: .875rem;
    font-style: italic;
    margin: 0;
  }
  &__index {
    display: inline-block;
    margin: 0 0 0 .2rem;
    font-family: $font-titles;
    font-style: italic;
    color: $color-secondary;
  }

  &:not(:first-child) {
    border-left: 1px solid lighten($color-primary,50%);
  }
}

.feature-article {
  grid-column: 1 / span 4;

  &__title {
    font-family: $font-titles;
    margin: 0.5rem 0;
    font-size: 4rem;
  }

  &__content {
    columns: 4;
    &::first-letter{
      font-size: 3rem;
      float: left;
      margin: -3px 2px;
      line-height: 3.5rem
    }
  }
}

.bottom-article {
  display: grid;
  column-gap: 1.5rem;
  grid-template: repeat(4, auto) / 1fr 1fr;
  grid-template-areas: "figure section" "figure title" "figure lead" "figure content";

  &__title {
    grid-area: title;
    font-family: $font-titles;
    font-size: 2.2rem;
    line-height: 1.1;
    margin: .5rem 0;
  }

  &__lead {
    grid-area: lead;
  }

  &__content {
    grid-area: content;
    column-count: 2;
  }

  &--figure {
    grid-area: figure;
  }

  .section {
    margin-bottom: 0;
  }
}

.right {
  border-bottom: 1px solid $color-primary;
  margin-bottom: 2rem;

  &__title {
    font-family: $font-titles;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1.1;
    margin: 0;
  }

  &__lead {
    margin: 1rem 0;
  }

  &__content {
    @extend .right__lead;
  }
}

.fragment {
  border: 1px solid $color-primary;
  padding: .5rem;

  &__content {
    margin: 0;
  }
}