.header {
  grid-area: header;
  font-family: $font-titles;
  &__intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid $color-primary;
  }
  &__title{
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
    align-items: center;
    margin-bottom: 2.5rem;
    border-bottom: 2px solid $color-primary;
  }
}

.container {
  &--name {
    position: relative;
  }
  &--price {
    align-self: end;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    font-size: .875rem;
  }

  &--edition{
    font-size: .875rem;
  }

  &--edition, &--price {
    align-self: end;
    margin-bottom: 2rem;
  }
}

.price {
  &__main {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__others {
    & > span {
      display: inline-block;
      width: 100%;
      padding-bottom: .2rem;
      margin-bottom: .5rem;
      border-bottom: 1px solid lighten($color-primary, 50%);
    }
  }
}

.name {
  &__title {
    position: relative;
    z-index: 2;
    margin: 0 0 .8rem;

    font-size: 12rem;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    text-shadow: 0 0 0 $color-background;
  }
  &__subtitle {
    position: absolute;
    z-index: 0;
    bottom: -1rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 10rem;
    width: max-content;
    font-family: $font-titles;
    font-weight: bold;
    font-size: 1.5rem;
    font-variant: small-caps;
    background-color: $color-background;

  }
}

.edition {
  &__date {
    max-width: 16ch;
    padding: .3rem 0;
    margin-bottom: 1rem;
    font-weight: 900;
    border-top: 1px solid lighten($color-primary,50%);
    border-bottom: 1px solid lighten($color-primary,50%);
  }
}