.header {
  grid-area: header;
  &__intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1.5px solid $color-primary;
  }
  &__title{
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
  }
}